.box{
    font-size: 14px;
    margin:auto;
    margin-top: 10%;
    width:430px;
    height:326px;
    padding:16px,15px,14px,15px;
}
.boxInner{
    position: relative;
    width:400px;
    height:296px;
    background:rgba(255,255,255,1);
    border-radius:5px;
    border:1px solid rgba(151,151,151,1);
}
.userId{
    position: absolute;
    left:20px;
    top: 30px;   
}
.pass{
    position: absolute;
    left:20px;
    top: 90px;
}
.ifAdmin{
    width:360px;
    position: absolute;
    left:20px;
    top: 150px;
}
.login{
    position: absolute;
    left:20px;
    top: 190px;
}
.register{
    position: absolute;
    left:20px;
    top: 248px;
}
.name{
    width:330px;
    height:32px;   
}
.login{
    width:360px;
    height:40px;
    background:rgba(74,144,226,1);
    border-radius:5px;
    border:1px solid rgba(74,144,226,1);
    font-family: 'ArialRoundedMTBold';
    color: #FFF;
}
.rem{
    margin-left: 5px;
}
.color1{
    color: #4A4A4A;
}
.font2{
    font-family: 'PingFangSC';
}

